{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}


<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Custom View 
    <small>This is a custom view without DB model</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Custom</li>
  </ol>
</section>

<section class="content">

  <div class="row">
    <!-- Left col -->
    <section class="container">      
      
        <table id="myTable" class="display">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Spot Number</th>
                    <th>Enter Time</th>
                    <th>Exit Time</th>
                    <th>Parking Time</th>
                    <th>Parking Fee</th>
                </tr>
            </thead>
            <tbody id="parkRecord">


            </tbody>
        </table>

    </section>
    <!-- /.Left col -->

  </div>
  <!-- /.row (main row) -->

</section>
<!-- /.content -->


  {% endblock body %}
