{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      Dashboard 
      <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
  </ol>
</section>

<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>150</h3>
          <p>New Orders</p>
      </div>
      <div class="icon">
          <i class="ion ion-bag"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
  </div>
</div>
<!-- ./col -->
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-green">
    <div class="inner">
      <h3>53<sup style="font-size: 20px">%</sup></h3>

      <p>Bounce Rate</p>
  </div>
  <div class="icon">
      <i class="ion ion-stats-bars"></i>
  </div>
  <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
</div>
</div>
<!-- ./col -->
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-yellow">
    <div class="inner">
      <h3>44</h3>

      <p>User Registrations</p>
  </div>
  <div class="icon">
      <i class="ion ion-person-add"></i>
  </div>
  <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
</div>
</div>
<!-- ./col -->
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-red">
    <div class="inner">
      <h3>65</h3>

      <p>Unique Visitors</p>
  </div>
  <div class="icon">
      <i class="ion ion-pie-graph"></i>
  </div>
  <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
</div>
</div>
<!-- ./col -->
</div>
<!-- /.row -->
<!-- Main row -->
<div class="row">
    <!-- Left col -->
    <section class="col-lg-7 connectedSortable">


        <div class="box">
            <div class="box-header">
                <i class="fa fa-car"></i>

                <h3 class="box-title">
                    Parking Lot Status
                </h3>

            </div>
            <div class="box-body" id="parking-lot" style="position:relative">
                <canvas id="myCanvas" width="676" height="682" style="background-image: url('/static/img/parking%20lot%20map.png')">

                </canvas>
            </div>

        </div>



<!-- /.box -->
    </section>
<!-- /.Left col -->
<!-- right col (We are only adding the ID to make the widgets sortable)-->
<section class="col-lg-5 connectedSortable">


    <div class="box box-solid bg-light-blue-gradient">
    <div class="box-header">
      <!-- tools box -->
          <!-- /. tools -->

          <i class="fa fa-cloud"></i>

          <h3 class="box-title">
            Weather
        </h3>
    </div>
    <div class="box-body">
        <div class="peers fxw-nw ai-c">
              <div class="peer mR-20">
                <h3 id="temp"></h3>
              </div>
              <div class="peer"><img id="weatherIcon" src=""></div>
        </div>
        <div class="layer w-100"><span class="fw-600 c-grey-600" id="weather">Partly Clouds</span></div>
        <div class="peer">
                <div class="layers ai-fe">

                  <div class="layer"><span class="fw-600 c-grey-600" id="date"></span></div>
                </div>
        </div>
        <div class="layer w-100 mY-30">
            <div class="layers bdB">
              <div class="layer w-100 bdT pY-5">
                <div class="peers ai-c jc-sb fxw-nw">
                  <div class="peer"><span>Wind:  </span><span class="fw-600 c-grey-800" id="wind"></span></div>

                </div>
              </div>
              <div class="layer w-100 bdT pY-5">
                <div class="peers ai-c jc-sb fxw-nw">
                  <div class="peer"><span>Sunrise:  </span><span class="fw-600 c-grey-800" id="sunrise"></span></div>

                </div>
              </div>
              <div class="layer w-100 bdT pY-5">
                <div class="peers ai-c jc-sb fxw-nw">
                  <div class="peer"><span>Pressure:  </span><span class="fw-600 c-grey-800" id="pressure">1B</span></div>

                </div>
              </div>
            </div>
        </div>

    </div>
  <!-- /.box-body-->
</div>


    <div class="box box-solid bg-light-blue-active">
    <div class="box-header">
      <!-- tools box -->
          <!-- /. tools -->

          <i class="fa fa-chevron-down"></i>

          <h3 class="box-title">
            Gas Price
        </h3>
    </div>
    <div class="box-body">
        <div class="peer">
            <h5 class="mB-5">Today's Gas Price</h5>
        </div>
        <div class="layer w-100 mT-15">
            <h5 class="mB-5" id="reg"></h5>
        </div>
        <div class="layer w-100 mT-15">
            <h5 class="mB-5" id="mid"></h5>
        </div>
        <div class="layer w-100 mT-15">
            <h5 class="mB-5" id="pre"></h5>
        </div>

    </div>
  <!-- /.box-body-->
</div>

</section>
<!-- right col -->
</div>
<!-- /.row (main row) -->

</section>
<!-- /.content -->
{% else %}

<center>
    <section class="content" style="color: white">
        <div class="col-sm-12">
            <h1>Flask-Admin example</h1>
            <p class="lead">
                Authentication
            </p>
            <p>
                This example shows how you can use Flask-Admin in an admin template, <br> here I used AdminLTE and <a href="https://pythonhosted.org/Flask-Security/index.html" target="_blank">Flask-Security</a> for authentication.
            </p>
            {% if not current_user.is_authenticated %}
            <p>You can register as a regular user, or log in as a superuser with the following credentials: <br><br>

                email: <b>admin</b> <br>
                password: <b>admin</b> <br>
                <br>
                <p>
                    <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
                </p>
                {% endif %}
                <br>
                <p>
                    <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
                </p>
            </div>
        </section>
    </center>

    <br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
 {% endif %}

  {% endblock body %}
